server:
  port: 8082

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://localhost:3306/db_auth?serverTimezone=UTC
    username:
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  # Configuraciones de seguridad
  security:
    user:
      name: ${SS_USER}
      password: ${SS_PASSWORD}

cloud:
  consul:
    host: localhost
    port: 8500
    discovery:
      prefer-ip-address: true

# Configuraciones de JWT
security:
  jwt:
    private:
      key: ${PRIVATE_KEY}
    user:
      generator: ${USER_GENERATOR}
